body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #252525;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.welcome-text {
    text-align: center;
}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
p {
    font-size: 1.5em;
}
a {
    color: #4CAF50; /* Цвет ссылки */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s; /* Плавное изменение цвета при наведении */
    font-weight: bold; /* Жирный текст */
}
a:hover {
    color: #1c621f; /* Цвет ссылки при наведении курсора */
}