<!DOCTYPE html>
<html>
<head>
  <title>Симплекс-метод</title>
  <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>
<ul>
  <li><a href="/Home">Главная</a></li>
  <li><a href="/Simplex">Симплекс метод</a></li>
  <li><a href="/Hook">Метод Хука-Дживса</a></li>
  <li><a href="/ForUser">Руководство пользователя</a></li>
  <li><a class="active" href="/About">Об авторе</a></li>
</ul>
<br>
<div class="container">
  <h2>Бобровник Илья Александрович</h2>
  <p>Студент 4 курса Барановичкого государственного университета группы ИСТ-41,
    специальности "Информационные системы и технологии", Инженероного факультета.
  </p>
  <br>

  <h4>Контакты:</h4>
  <ul>
    <li><a href="https://www.linkedin.com/in/ilya-bobrovnik-084084255/">Linkedin</a></li>
    <li><a href="https://github.com/BobrovnikIlya">GitHub</a></li>
    <li><a href="https://t.me/I_Bobrovnik">Telegram</a></li>
    <li><a href="https://vk.com/i.bobrovnik">VKontakte</a></li>
  </ul>
</div>
</body>
</html>