<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course Work</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>
<ul>
    <li><a href="/Home">Главная</a></li>
    <li><a href="/Simplex">Симплекс метод</a></li>
    <li><a href="/Hook">Метод Хука-Дживса</a></li>
    <li><a class="active" href="/ForUser">Руководство пользователя</a></li>
    <li><a href="/About">Об авторе</a></li>
</ul>
<br>
<div class="container2">
    <h2>Руководство пользователя</h2>
    <p>При переходе на сайт пользователя встретит начальная страница, где сверху можно наблюдать меню навигации, 
        а ниже условие задачи </p>
    <br>
    <p class="image">
        <img th:src="@{images/1.png}" alt="Image" />
    </p>
    <br>
    <p>На главной странице пользователю предоставляется возможность ввести значения необходимые для решения задачи
        и выбрать метод решения. После ввода всех необходимых данных необходимо нажать кнопку «Решить». Если при
        выборе метода решения был выбран симплекс-метод, то пользователь попадет на отдельную страницу «Симплекс-метод»
        с результатами решения заданной задачи, где будут отображены условие, математическая модель задачи и ответ</p>
    <br>
    <p class="image">
        <img th:src="@{images/2.png}" alt="Image" />
    <br>
       <img th:src="@{images/3.png}" alt="Image" />
    <br>
        <img th:src="@{images/4.png}" alt="Image" />
    <br>
    </p>
    <p>При выборе решения методом Хука-Дживса вывод результатов будет аналогичен симплекс-методу,
        но с присутствием графика содержащем путь от начальной до конечной точки. </p>
    <br>
    <p class="image">
        <img th:src="@{images/5.png}" alt="Image" />
    <br>
        <img th:src="@{images/6.png}" alt="Image" />
    </p>
    <br>
        <p>Пользователь так же имеет возможность передвигаться по сайту с помощью меню,
            где присутствуют страницы с решениями методов, «Об авторе» и «Руководство пользователю» </p>
    <p class="image">
    <br>
        <img th:src="@{images/7.png}" alt="Image" />
    <br>

        <img th:src="@{images/8.png}" alt="Image" />
    <br>
    </p>
    <p>На странице «Главная» имеется возможность отредактировать значения как по средствам простого ввода,
        так и с помощь кнопок, которые увеличиваю и уменьшают значения полей на определенное количество процентов.
        После чего провести повторный расчет и сравнить полученные результаты. </p>
</div>
</body>
</html>