<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Симплекс метод</title>
  <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>
<ul>
  <li><a href="/Home">Главная</a></li>
  <li><a class="active" href="/Simplex">Симплекс метод</a></li>
  <li><a href="/Hook">Метод Хука-Дживса</a></li>
  <li><a href="/ForUser">Руководство пользователя</a></li>
  <li><a href="/About">Об авторе</a></li>
</ul>
<br>
<div class="container">
  <h2>Условие задачи</h2>
  <p>Фирма имеет возможность рекламировать свою продукцию, используя местные радио- и телевизионные сети.</p>
  <p th:text="'Затраты на рекламу в бюджете фирмы ограничены '+ ${price} + ' денежных единиц (ден. ед.) в месяц.'"></p>
  <p th:text="'Каждая минута радиорекламы обходится в '+ ${priceA} + ' ден. ед., а каждая минута телерекламы – в ' + ${priceB} + ' ден. ед.'"></p>
  <p th:text="'Фирма хотела бы использовать радиосеть по крайней мере в '+ ${radioSales} + ' раза чаще, чем телевидение. '"></p>
  <p th:text="'Опыт прошлых лет показал, что объем сбыта, который обеспечивает каждая минута телерекламы, в '+ ${tvSales} + ' раз больше объема сбыта, обеспечиваемого одной минутой радиорекламы.'"></p>
  <p>
    Определить оптимальное распределение финансовых средств, ежемесячно отпускаемых на радио- и телерекламу,
    если время рекламы оплачивается с точностью до 1 мин.
  </p>
  <br>
</div>
<div class="container">
  <h5>Математическая модель:</h5>
  <p th:utext="${function}"></p>
  <p th:utext="${constraints}"></p>
  <p>где x1 - количество минут радиорекламы, x2 - количество минут телевизионной рекламы</p>
  <br>
</div>
<div class="container">
  <h5>Ответ симплекс метода:</h5>
  <p th:text="${simplex}"></p>
  <br>
</div>
</div>

<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>
</html>